body
{
	width: 100%;
  	position: relative;
  	font-family: Helvetica,Arial,Sans-Serif;
  	/*color: #454545;*/
  	padding: 0;
  	font-size: 12px;
  	margin: 0;
	
}

.navbar
{
	width: 100%;
	height: 40px;
	background-color: #454545;
}

.dropdown
{
	height: 40px;
  	background-color: #454545;
  	padding: 10px 0 0 0;
  	vertical-align: middle;
  	margin: auto;
  	width: 1000px;
}
.dropdown a
{
	font-size: 13px;
  	color: white;
  	font-weight: 600;
  	text-decoration: none;
  	padding: 20px 30px 30px 0px;
  	/*vertical-align: super;*/

}
#color1:after
{
	content: " ▾";
	color: white;
}
#color2:after,#color5:after
{
	content: " ▾";
	color: blue;
}
#color3:after
{
	content: " ▾";
	color: green;
}
#color4:after
{
	content: " ▾";
	color: red;
}
#color6:after
{
	content: " ▾";
	color: yellow;
}
#color7:after
{
	content: " ▾";
	color: orange;
}
#color8:after
{
	content: " ▾";
	color: pink;
}
.headerlinks{
	background-color:#007673;
	width: 100%;

}

#links
{
	height: 18px;
  	background-color: #007673;
  	width: 1000px;
  	/*text-align: left;*/
 	margin: auto;
  	color: white;
}
.headerlinks a
{
	color: white;
  	padding: 10px 0px 0px 0px;
  	text-decoration: none;
}

.subheader 
{
	/*background-color: #008F8F;*/
	/*color: white;*/
	/*height: 120px;
  	width: 1000px;
  	margin: auto;
  	background-color: #008F8F;*/
  	/*padding-bottom: 20px;
	background-color:#008F8F;
	width: 100%;*/
	height: 80px;
  	/*width: 1000px;*/
  	margin: auto;
  	background-color: #008F8F;
  	/*padding-bottom: 20px;*/
  	padding-top: 5px;
	padding-left: 600px;
}

.LHtitle
{
	width: 1000px;
	margin: auto;
}

#title
{	
	margin-top: 5px;
    margin-bottom: 10px;
    font-size: 30px;
    color: white;
}
#subtitle
{	
	font-size: 15px;
	color: white;
}

.container
{
	background-color: #f1f1f1;
	margin-top: -15px;
    padding-bottom: 6%;
    /*height: 5px;*/
   /* background: #e8e8e8;
  	width: 100%
 	margin-bottom: -80px;*/
}
.content
{
	margin: auto;
	width: 1000px;
}


.Fline
{
	padding: 10px;
}
.Fline p
{
	color: black;
	font-size: 15px;
}
.Fline a
{
	text-decoration: none;
	font-size: 15px;
}
#f_line a
{
	color: #556bb5; 
}
.Sline a
{
	text-decoration: none;
	
}
.Selcountry
{
	margin: auto;
	width: 1000px;
	font-size: 15px;
}

#size
{
	font-size: 12px;
}
#s_line a
{
	color: #556bb5; 
}

/*code was sourced from W3schools*/
/*-------------*/
.column 
{
  float: left;
  width: 15%;
  padding: 10px;
 
}
.row:after {
  	content: "";
  	display: table;
  	clear: both;
}
/*------------*/
.column i
{
	font-size: 20px;
}
#bar img, #jam img, #lucia img, #grenada img, #now img
{
  transition: transform .5s ease;
}

#bar:hover img, #jam:hover img, #lucia:hover img, #grenada:hover img, #now:hover img
{
  transform: scale(1.5);
}
.table .show
{
  visibility: hidden;
  width: auto;
  background-color: #468ee5;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px 5px 10px;
  position: absolute;
  top: 37%;
  z-index: 1;
  margin: auto;
}
.table .hover:hover .show
{
  visibility: visible;
}
.table .hover:hover
{
  background: #9FC8FD;
  color: white;
}
.islandstat
{
	height: 221px;
  	width: 1000px;
  	line-height: 5px;

}
.islandstat img
{
	height: 80px;
 	width: 80px;
 	padding-right: 5px;
}
.islandstat h3 img
{
	height: 15px;
  	width: 20px;
}
#sort
{
	width: 100px;
}

.dayST:before
{
  content:"*";
  color: red;
}
.hover:after
{
	content:" *";
  	color: red;
}
.savingtime
{
	float: left;
}
.savingtime2
{
	float: right;
	margin-right: 150px;
}
/*.fa fa-angle-down
{
	background-color: white;
	border: 1px solid;
}*/

/*.theader-left
{
	float: left;
}
.theader-right
{
	float: right;
}

.table .hover:hover .show
{
  visibility: visible;
}

.table .hover:hover a
{
  text-decoration: underline;
  color: white;
}

.table .hover:hover
{
  background: #9FC8FD;
  color: white;
}*/
hr
{
	/*height: 8px;
	background-color: #f1f1f1;
	border:none;*/
	width: 100%;
  	border: none;
  	border-top: 10px solid;
  	color: #ebeff0;
  	padding: 10px;
  	clear: both;
}

#Lside
{
	float: left;
}
#Rside
{
	float: right;
}

.table a
{
	text-decoration: none;
	color: #556bb5;
}
table
{
	margin: auto;
    width: 1000px;
    /*border-bottom-style: groove;
    border-right-style: groove;
    border-left-style: groove;
*/
}
.rcolor
{
	background-color: white;
}
#Rcolor
{
	color: white;
	background-color: #468ee5;
}
#Btop
{
	border-top: none;
	border-bottom: none;
	border-right: none;
	border-left: none;
}
#BL
{
	border-left: none;
	border-top: none;
	border-bottom: none;

}
#B1
{
	border-right: none;
	border-top: none;
	border-bottom: none;
}
#B2
{
	border-right: none;
	border-top: none;
}
#BGT
{
	border-top: none;
	border-right: none;
}
#BG2,#BG3,#BG4,#BG5,#BG6,#BG7,#BG8,#BG9,#BG10,#BG11
{
	border-top: none;
	border-right: none;
	border-left: none;
}
#BG12
{
	border-top: none;
	border-left: none;
}
#BM
{
	border-top: none;
	border-bottom: none;
	border-left: none;
}
#BGM
{
	border-top: none;
	border-left: none;

}
/*.headerleft
{
	float: left;
}
.headerright
{
	float: right;
}*/
/*#tableheader
{
	background-color: blue;
}*/



/********************************Summary css**********/
.summary-dropdown
{
	/*height: 40px;*/
  	background-color: #454545;
  	padding: 10px 0 0 0;
  	vertical-align: middle;
  	margin: auto;
  	width: 1000px;

}
.summary-dropdown a
{
	font-size: 13px;
  	color: white;
  	font-weight: 600;
  	text-decoration: none;
  	padding: 20px 30px 30px 0px;
}

.links1
{
	background-color: #f1f1f1;
	height: 20px;
}
.showlinks1
{
	margin: auto;
	width: 1000px;	
	padding: 2px;
}
.links1 a
{
	color: black;
	text-decoration: none;
}

.showlinks2
{
	margin: auto;
	width: 1000px;	

}

.links2 a
{
	color: black;
	text-decoration: none;
}

.sumtil
{
	margin: auto;
	width: 1000px;
}
.sumtil img
{
	padding-bottom: 5px;
    padding-right: 5px;
}
.container-column
{
	background-color: #0052a3;
}
.column-content
{
	margin: auto;
	width: 1000px;
	color: white;
}

.column1 
{
  float: left;
  width: 30%;
  padding: 10px;
  background-color: #2b6bab;
}
.column1 img
{
	float: right;
}

.column2
{
  float: left;
    width: 12%;
    padding: 10px;
}
.column3
{
  float: left;
    width: 20%;
    padding: 10px;
}

.column4
{
  float: left;
    width: 25%;
    padding: 10px;
    /* margin-left: 50px; */
    padding-left: 60px;
    padding-top: 35px;
}

.row:after {
  	content: "";
  	display: table;
  	clear: both;
}

.table-content table , td, th {
	border: 1px solid #595959;
	border-collapse: collapse;
}
.table-content td, th {
	padding: 3px;
	width: 30px;
	height: 25px;
}
.table-content th {
	background: #f0e6cc;
}
.even {
	background: #fbf8f0;
}
.odd {
	background: #fefcf9;
}

.TTcontent
{
	margin: auto;
	width: 1000px;
}
.forecastlinks
{
	padding-top: 10px;
}
.fl
{
	margin: auto;
	width: 1000px;
	border-bottom-style: dashed;
    border-bottom-color: lightgray;
    border-bottom-width: thin;
    font-size: 15px;
}
.fl a
{
	text-decoration: none;
	color: #2b6bab;
}
#flBG
{
	background-color: #a8a8a8;
}

.BLcontent
{
	margin: auto;
	width: 1000px;
}
.BLcontent a
{
	text-decoration: none;
	font-size: 12px;
}
.BLleft
{
	float: left;
}
.BLright
{
	float: right;
}
.chartheadings
{
	background-color: aliceblue;
    height: 50px;
}
.CHcontent
{
	
}
.CTheading
{
	margin: auto;
	width: 1000px;
}
#Hstyle
{
	padding-top: 20px;
}
#Hcolor
{
	margin-top: -10px;
}
#CBcolor
{
	margin-top: -10px;
	color: #9ea3a0;
}
.RFCcontent
{
	margin: auto;
	width: 1000px;
}
.P1cont
{
	margin: -10px;
    padding-left: 10px;
    color: #9ea3a0;
}
.P2cont
{
	color: #9ea3a0;
}
#container
{
	margin: auto;
	width: 1000px;
}
#container1
{
	margin: auto;
	width: 1000px;
}
#container2
{
	margin: auto;
	width: 1000px;
}
.SCcontent
{
	margin: auto;
	width: 1000px;
}
.P3cont
{
	margin: -10px;
    padding-left: 10px;
    color: #9ea3a0;
}
#Bcenter
{
	text-align: center;
}